body{
  background: #3c4042;
  scroll-behavior: smooth;
}
/* Hide scrollbar for IE, Edge and Firefox */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Sidefixed Nav Bar
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:  #ea80fc; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #3c4042;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .sidebar_pad{
      margin: 2rem;
      color: #fff;
  }



  .centered {
    position: absolute; 
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    font-family: 'Courgette', cursive;
    color: #fff;
    text-align: center;
  }
  
  .btn_mid{
    /* text-align: center; */
    font-family: 'Roboto Condensed', sans-serif;
  }

  .dropdown-menu{
    background-color: #ea80fc;
  }

  /* ANIMATION */
  .body_index{
    background: linear-gradient(-45deg, #1f1212,#20201685, #1f1929, #251923, #1c232c, #231525, #271313);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh;
  }
  
  
  body {
    background: linear-gradient(-45deg, #1f1212,#20201685, #1f1929, #251923, #1c232c, #231525, #271313);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 400vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  /*About Page*/

  .about-head{
    font-size: 4.5rem;
    color: #fff;
    font-family: 'Courgette', cursive;
    text-align: center;
    margin-top: 6.5rem;

  }

  .about-text{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin: 2.5rem 7rem;
    line-height: 2;
  }

  /*Main HTML */

  .head_main{
    text-align: center;
    font-family: 'Courgette', cursive;
    color: #fff;
    font-size: 5rem;
    margin-top: 3rem;
  }

  .card_item{
    text-align: center;
    /* background-color: #03dac6; */
    background-color:#ea80fc ;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    padding: 1rem;
    margin: 1.2rem;
   margin-left: 10rem;
   margin-top: 2rem ;
   margin-bottom: 2rem;
  }

  .card_text{
    text-align: left;
    color: black;
  }

  .btn_abt{
    margin-left: 53%;
  }

 .btn_home{
   margin-left: 45%;
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 3rem;
 }


 /* DEVELOPER */

 .dev_img{
   width: 200px;
   height: 200px;
   margin-left: 43%;
   margin-top: 2rem;
   margin-bottom: 1.5rem;
 }




 /* Mobile Resolution */

 @media (max-width:1125px)  {

  .card_item{
    margin-left: 14%;
    background: #03dac6;
  }

  .btn_home{
    margin-left: 38%;
  }

  .centered{
    font-size: 10rem;
  }

  .sidenav{
    height: 30%;
  }

  .sidenav a {
    font-size: 2rem;
  }

  .about-text{
    text-align: left;
    margin: 2.5rem 4rem;
    }

    .dev_img{
      margin-left: 25%;
    }

    .body_index{
      height: 140vh;
      background: #1e1e1e;
    }

    body{
      height: 550vh;
      scroll-behavior: smooth;
      background: #1e1e1e;
    }

    .btn_mid{
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 3rem;
    }

    .sidenav{
      background-color:#03dac6 ;
    }

    .dropdown-menu{
      background-color: #03dac6;
    }
}
